<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game </title>
</head>
<body>
<div align="center">

    <h1>Guess the Number Game</h1>
    <h2>Game Over</h2>
    <h3 th:text="${__${T(example.spring.multimodule.util.AttributeNames).RESULT_MESSAGE}__}">
        Result Message Content
    </h3>

    <h3><a th:href="@{__${T(example.spring.multimodule.util.GameMapping).RESTART}__}">
        Play Again</a>
    </h3>

    <h3><a th:href="@{__${T(example.spring.multimodule.util.GameMapping).HOME}__}">
        Home</a>
    </h3>

    <footer>
        <p>Created by the Vladislav Kondratuk</p>
    </footer>
</div>
</body>
</html>